<template>
  <div class="home">
    <div class="bg-dark text-left pl-5 py-5 text-white">
      <h1>About Me</h1>
      <p>
        Hello, my name is Ethan and I am a full stack developer.
      </p>
    </div>
    <div class="text-right pr-5 py-5">
      <h1>Test 1</h1>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HelloWorld from '@/components/HelloWorld.vue'; // @ is an alias to /src

@Component({
  components: {
    HelloWorld,
  },
})
export default class Home extends Vue {}
</script>
