<template>
  <div id="app">
    <div id="nav" class="text-left">
      <router-link to="/" class="mr-5">Home</router-link>
      <a href="https://www.modernmetalproduction.com/" class="mr-5">Blog</a>
      <a href="https://www.cutthroughrecordings.com/" class="mr-5">Store</a>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
@import './theme.scss';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: $primary;
    }
  }
}

body {
  background-color: $white;
}
</style>
